body
{
  background-color: lightblue;
  color: white;
}

h1
{
  color: black;
  margin-left: 20px;
  border-style: inset;
  padding: 20px;
}
#rainbow
{
  border-color: yellow;
  background-color: white;
  border-radius: 25px;
  word-break: keep-all;
  transform: translate(50px, 100px);
  padding: 8px;
  width: 200px;
  color: red;
}
